
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 75px;
    background: #FF6633;
    border-radius: 10px;
    border: 1px solid #eb521f;
	margin: 5px;
}

#header img {
	height: 65px;
	width: 130px;
	padding: 5px;
	float:left;
}

#header p {
	font-size: 30px;
	position: relative;
	left: 40px;
	top: -18px;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #FFCC33;
    border-radius: 10px;
    border: 1px solid #ebb81f;
    margin: 5px;
    text-align: justify;
}

#nav {
    text-align: justify;
    display: inline;
    width: 100%;
}

#navigation a {
    margin: 2px;

    height: 40px;
    text-decoration:none;

	font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px #333333;
    float: left;
    width: 130px;
}

#navigation a:hover {
	background-color:#FF704D;
}


#contentwrap {
    width: 850px;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
    background: #33CCFF;
    border-radius: 10px;
    border: 1px solid #1fb8eb;
    margin: 5px;
}

#leftcolumn-bold {
	font-size: 15px;
	font-weight:bolder;
	
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    background: #009900;
    border-radius: 10px;
    border: 1px solid #1feb52;
    margin: 5px;
}

